{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
    <a href="/{{ url_name }}/create/" class="btn btn-primary mb-3">Создать</a>
    <div class="row justify-content-center gx-5">
        {% for object in object_list %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    {% if object.name %}
                        <h5 class="card-title text-center">{{ object.name }}</h5>
                    {% else %}
                        <h5 class="card-title text-center">{{ object }}</h5>
                    {% endif %}
                    <a href="/{{ url_name }}/{{ object.pk }}/update/" class="btn btn-primary mb-2">Изменить</a>
                    <a href="/{{ url_name }}/{{ object.pk }}/delete/" class="btn btn-primary">Удалить</a>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}